<!DOCTYPE HTML>
<html>
	<head>
		<title>Colleen Lohr</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/styles.css" />
		<script src="https://kit.fontawesome.com/fbfd53b98e.js" crossorigin="anonymous"></script>
	</head>
	<body class="is-preload">
			<div class="static-and-noise-bg"></div>
			<div id="wrapper">
				<section id="main">

					<header>
						<span class="avatar"><img src="static/assets/css/images/me_grey.png" alt="Colleen's photo" width="200px" /></span>
						<h1>Colleen Lohr</h1>
						<hr>
						<p>Python Developer</p>
					</header>

					<div class="icons-container">
						<ul class="icons">
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-github"></i></a></li>
							<li><a href="#"><i class="fab fa-discord"></i></a></li>
							<li><a href="#"><i class="fas fa-envelope-open-text"></i></a></li>
						</ul>

							<div class="button-container">
								<div class="vertical">
									<a href="#" class="button">cmlohr.dev</a>
								</div>
							</div>
					</div>
				</section>

				<div class="footer-container">
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Colleen Lohr</li><li>Design By: <a href="https://www.cmlohr.dev">Colleen Lohr</a></li>
						</ul>
					</footer>
				</div>
			</div>
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>